SDRC/resources/Tris.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tris" targetNamespace="http://www.dsi.unifi.it/Tris/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.dsi.unifi.it/Tris/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.dsi.unifi.it/Tris/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="id" type="xsd:string"/>

      <xsd:element name="mossa" type="tns:mossaType"/>

      <xsd:element name="griglia" type="tns:grigliaType"/>

      <xsd:complexType name="mossaType">
      	<xsd:sequence>
           <xsd:element name="id" type="xsd:string"/>
           <xsd:element name="riga" type="tns:indiceType"/>
      	   <xsd:element name="colonna" type="tns:indiceType"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="grigliaType">
      	<xsd:sequence>
      	   <xsd:element name="cella11" type="tns:cellaType"/>
      	   <xsd:element name="cella12" type="tns:cellaType"/>
      	   <xsd:element name="cella13" type="tns:cellaType"/>
      	   <xsd:element name="cella21" type="tns:cellaType"/>
      	   <xsd:element name="cella22" type="tns:cellaType"/>
      	   <xsd:element name="cella23" type="tns:cellaType"/>
      	   <xsd:element name="cella31" type="tns:cellaType"/>
      	   <xsd:element name="cella32" type="tns:cellaType"/>
      	   <xsd:element name="cella33" type="tns:cellaType"/>
           <xsd:element name="status" type="tns:statusType"/>
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:simpleType name="indiceType">
      	<xsd:restriction base="xsd:int">
           <xsd:enumeration value="1"/>
           <xsd:enumeration value="2"/>
           <xsd:enumeration value="3"/>      	   
      	</xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="cellaType">
      	<xsd:restriction base="xsd:string">
           <xsd:enumeration value="vuoto"/>
           <xsd:enumeration value="croce"/>
           <xsd:enumeration value="cerchio"/>      	   
      	</xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="statusType">
      	<xsd:restriction base="xsd:string">
           <xsd:enumeration value="inizio"/>
           <xsd:enumeration value="inCorso"/>
           <xsd:enumeration value="haiVinto"/>      	   
           <xsd:enumeration value="haiPerso"/>
           <xsd:enumeration value="haiPareggiato"/>      	   
           <xsd:enumeration value="errore"/>
      	</xsd:restriction>
      </xsd:simpleType>

    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="inizializzaRichiesta">
    <wsdl:part name="id" element="tns:id">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="giocaRichiesta">
    <wsdl:part name="mossa" element="tns:mossa">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="giocaRisposta">
    <wsdl:part name="griglia" element="tns:griglia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tris">
    <wsdl:operation name="inizializza">
      <wsdl:input message="tns:inizializzaRichiesta">
    </wsdl:input>
      <wsdl:output message="tns:giocaRisposta">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gioca">
      <wsdl:input message="tns:giocaRichiesta">
    </wsdl:input>
      <wsdl:output message="tns:giocaRisposta">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrisSOAP" type="tns:Tris">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inizializza">
      <soap:operation soapAction="http://www.dsi.unifi.it/Tris/inizializza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gioca">
      <soap:operation soapAction="http://www.dsi.unifi.it/Tris/gioca"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tris">
    <wsdl:port name="TrisSOAP" binding="tns:TrisSOAP">
      <soap:address location="http://www.dsi.unifi.it"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
